extends: default

ignore: |
  build/.work/
  node_modules/
  .cache/
  rust/target/
  go/.cache/

rules:
  line-length:
    max: 200
  comments:
    min-spaces-from-content: 1
  document-start: disable
  truthy:
    check-keys: false
  indentation:
    indent-sequences: consistent
